---
layout: default
title: Home
---


<h2>Latest Posts</h2>
<div class="tags-expo">
  <div class="tags-expo-section">
    <ul class="tags-expo-posts">
      {% for post in paginator.posts %}
        <big class="post-date">{{ post.date | date_to_string }}</big>
        <li>
            <a class="post-title" href="{{ post.url }}">{{ post.title }} </a>
        </li>
      <br>
      {% endfor %}
    </ul>
  </div>
</div>

{% if paginator.total_pages > 1 %}

  {% assign start = paginator.page | minus: 2 %}
  {% assign end = paginator.page | plus: 2 %}

  {% if start < 1 %}
    {% assign start = 1 %}
    {% assign end = start | plus: 4 %}
  {% elsif end > paginator.total_pages %}
    {% assign start = paginator.total_pages | minus: 4 %}
    {% assign end = paginator.total_pages %}
  {% endif %}

  {% if start < 1 %}
    {% assign start = 1 %}
  {% endif %}

  {% if end > paginator.total_pages %}
    {% assign end = paginator.total_pages %}
  {% endif %}

  <div class="pagination-wrapper">
    <div class="pagination">
      {% if paginator.previous_page %}
        <a class="pagination-step" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
      {% else %}
        <!-- <span class="pagination-step">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </span> -->
      {% endif %}

      <!-- {% if start > 1 %}
        <a class="pagination-first" href="{{ site.baseurl }}/">1</a>
        <span class="pagination-more">&middot;&middot;&middot;</span>
      {% endif %} -->

      {% for page in (start..end) %}
        {% if page == paginator.page %}
          <span class="active">{{ page }}</span>
        {% elsif page == 1 %}
          <a href="{{ site.baseurl }}/">{{ page }}</a>
        {% else %}
          <a href="{{ site.baseurl }}/page{{ page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      <!-- {% if end < paginator.total_pages %}
        <span class="pagination-more">&middot;&middot;&middot;</span>
        <a class="pagination-last" href="{{ site.baseurl }}/page{{ paginator.total_pages }}">{{ paginator.total_pages }}</a>
      {% endif %} -->

      {% if paginator.next_page %}
        <a class="pagination-step" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
      {% else %}
        <!-- <span class="pagination-step">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </span> -->
      {% endif %}
    </div>
  </div>
{% endif %}

<hr/>

<div class="tags-expo">
  <div class="tags-expo-list">
    <h2>Categories</h2>
    {% for tag in site.categories %}
    <a href="/categories/{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
  </div>
</div>

<hr/>

<div class="tags-expo">
  <div class="tags-expo-list">
    <h2>Tags</h2>
    {% for tag in site.tags %}
      <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
  </div>
</div>

<br>
<br>